# Environment files
*.env
*.log

# Data files
*.csv
*.zip

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
*.ipr
*.iws

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Cython debug files
cython_debug/
